
.wafuu {
  background-color: brown;
  color: white;
  padding: auto;
  text-align: center;
  font-size: 80px;
}


main {
  background-image: url("images/red-maple-5385956_1280.jpg");
  height: 500px;
  width: auto;
  background-color: chartreuse;
  text-align: center;
}
.mainimg {
  
}